.projects-title-container {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.projects-title {
    font-size: 24px;
    font-weight: bold;
}

.projects-title-button {
    font-size: 20px;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    background-color: #5538c8;
    cursor: pointer;
}

.projects-title-button:hover {
    background-color: #4326b5;
}

.projects-container {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
    border: 1px solid rgb(221, 216, 216);

    max-height: calc(100vh - 280px);
    overflow: auto;

    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
    
}

.project-container {
    background-color: #fafafa;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    width: 100%;
    min-height: 145px;

    display: flex;
    flex-direction: column;

    cursor: pointer;
}

.project-header {
    display: flex;  
    justify-content: space-between;   
    align-items: center;

    margin-bottom: 10px;
}

.project-header-title {
    font-size: 18px;
    font-weight: bold;

    max-width: 320px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.project-header-progress {
    font-weight: bold;
    
    color: rgb(190, 69, 69);
    background-color: rgb(245, 220, 220);
    padding: 5px 10px;
    border-radius: 15px;
}

.project-desc {
    color: rgb(81, 78, 78);
    margin-bottom: 10px;

    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.project-tags {
    display: flex;
    gap: 5px;

    margin-top: auto;
}

.project-tag {
    font-size: 14px;
    padding: 5px 10px;
    background-color: lightblue;
    border-radius: 15px;
}








