.skills-container {
  border: 1px solid #e0e0e0;
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  gap: 24px;
  margin-top: 30px;
}
.skills-list {
  display: grid;
  grid-template-columns: 1fr 1fr;  
  gap: 16px 24px; 
} 
.skills-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.label {
  font-weight: 600;
}
.skill-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6px;
  align-items: center;
}
.skill-right-side {
  display: flex;
  gap: 10px;
  align-items: center;
}
.percent-bar {
  width: 100%;
  height: 8px;
  background: #eee;
  border-radius: 10px;
  margin-bottom: 6px;
}
.filled-bar {
  height: 100%;
  border-radius: 10px;
  background-color: #3c3489;
}
.skill-right-button {
  border: 1px solid #ddd;
  cursor: pointer;
  height: 35px;
}
