.nav-bar {
  display: flex;
  align-items: center;
  padding: 12px 36px;
}
.logo {
  font-size: 28px;
  font-weight: 800;
  letter-spacing: -1px;
  background: linear-gradient(90deg, #5bb5b0, #9b8ec4, #e8a87c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  cursor: pointer;
}
.right-section {
  margin-left: auto;
  display: flex;
  gap: 7px;
}
.nav-link {
  color: black;
  text-decoration: none;
  background: transparent;
  border: 0.5px solid #d0cfcf;
  padding: 10px 14px;
  border-radius: 8px;
  font-size: 14px;
}
.nav-link:hover {
  background-color: rgb(233, 233, 228);
  color: #1a1a1a;
}
.nav-link.active {
  background-color: rgb(233, 233, 228);
  color: #1a1a1a;
}
.nav-avatar {
  background: #d8d4f2;
  color: #2f2577;
  border: 1px solid #9b8fd3;

  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-left: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-avatar:hover {
  background: #c9c1ee;
  border-color: #7b6bc4;
  cursor: pointer;
}